/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
  color: var(--text-color, #000000);
  background-color: var(--page-background-color, #ffffff);
  background-image: var(--page-background-image, none);
  font-family: var(--page-main-font-family, "Inter", sans-serif);
  background-attachment: fixed;
  background-size: cover;
  /* font-variation-settings: "wght" var(--page-main-font-weight, 400); */
}

/* ФИЛЬТРЫ КАРТИНОК */
.filter-grayscale {
  filter: grayscale(70%);
}

.filter-saturate {
  filter: saturate(250%);
}

.filter-multiple {
  filter: contrast(50%) hue-rotate(35deg) saturate(130%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-hue-rotate {
  filter: hue-rotate(210deg) blur(5px);
}

.page__header {
  margin-block-end: 100px;
}

/* ДИАЛОГОВОЕ ОКНО */
.modal {
  padding: 25px 30px;
  font-family: var(--page-font-family, "PressStart2P", fantasy);
  max-inline-size: 355px;
  color: var(--text-color, #000000);
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--page-background-color, #ffffff);
  border: 2px solid var(--text-color, #000000);
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  inline-size: 100%;
}

.modal::backdrop {
  opacity: 0.75;
  background: var(--color-black, #000000);
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.page-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  line-height: normal;
  text-transform: uppercase;
  font-family: var(--page-accent-font-family, "PressStart2P", fantasy);
}

.header__title {
  margin-block-end: 20px;
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: grid;
  justify-items: center;
  gap: 57px;
  padding-block-end: 105px;
}

/* СТИЛИ КАРТОЧЕК */
.cards-list {
  display: grid;
  gap: 52px;
}

.card {
  max-inline-size: 696px;
  margin-inline: auto;
  background: var(--page-background-color, #ffffff);
  border: 2px solid var(--text-color, #000000);
}

.card__header {
  padding: 4px 10px;
  border-block-end: 2px solid var(--text-color, #000000);
}

.card__title {
  font-size: 18px;
  line-height: normal;
  font-variation-settings: "wght" var(--headings-font-weight, 700);
}

.card__image-wrapper {
  position: relative;
  overflow: hidden;
}

.card__image-label {
  text-transform: uppercase;
  position: absolute;
  opacity: 0.5;
  z-index: 1;
  font-size: 14px;
  line-height: normal;
  inset-inline-end: 13px;
  inset-block-start: 24px;
  mix-blend-mode: hard-light;
  color: var(--text-color, #000000);
  font-family: var(--page-accent-font-family, "PressStart2P", fantasy);
  text-shadow: 0 0 1px var(--page-background-color, #ffffff);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__content {
  display: grid;
  gap: 27px;
  font-size: 18px;
  padding: 25px 30px 0 25px;
  line-height: calc(21 / 18);
  border-block-start: 2px solid var(--text-color, #000000);
}

.card__footer {
  display: flex;
  justify-content: end;
  gap: 5px;
  align-items: stretch;
  padding: 25px 25px 23px 25px;
}

.card__icon-button {
  background: transparent;
  display: grid;
  padding: 0;
  cursor: pointer;
  appearance: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, #000000);
}

.button::before {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--text-color, #000000);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button--save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}

.button__text,
.button__icon {
  color: var(--button-text-color, #ffffff);
  mix-blend-mode: difference;
}

.button__icon {
  block-size: 22px;
  inline-size: 22px;
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
}
