/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-green: #00cc14;
    --text-color: var(--color-black, #000000);
    --page-bg-color: var(--color-white, #ffffff);
    --page-main-font-family: "Inter", sans-serif;
    --page-main-font-weight: 400;
    --page-font-family: "PressStart2P", fantasy;
    --page-bg-image: repeating-linear-gradient(to left, #d3d3d3 0 2px, #d3d3d300 2px 4px), 
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --like-main-color: none;
    --like-sparks-color: #ff0000;
    --like-contour-color: var(--text-color, #000000);
    --headings-font-weight: 700;
    --button-text-color: var(--page-background-color, #fff);
}